.header {
    padding-bottom: 80px;
    color: #a06056;
    background-position: right center;
    background-size: contain;
}

.header > .container {
    align-items: flex-start;
}

.header__logo {
    color: #a06056;
}

.header__title {
    width: 300px;
    text-align: left;
}

.header__tags {
    margin-top: 110px;
}

.header__title {
    margin-top: 50px;
}

.header__description {
    width: 245px;
    margin-top: 30px;
    color: #706458;
    text-align: left;
}

.header__arrow {
    border-color: #a06056;
}

.header__arrow > .btn__icon {
    fill: #a06056;
}