.header {
    background-image: url("../../img/header-bg.jpg");
}

.benefits__list {
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.benefits__item {
    flex: 1 1 46%;
}

.rooms .heading-text {
    max-width: 329px;
}