.container {
    max-width: 1380px;
}

.nav {
    margin-left: 64px;
}

@media (min-width: 1900px) {
    .header {
        background-position-x: 49.5vw;
    }
}

.rooms__swiper {
    height: 400px;
}

.rooms__btn-next {
    font-size: 1.5625rem;
}

.rooms__btn-next::after {
    width: 15px;
    height: 20px;
    background-size: contain;
    transform: translateY(2px);
}