// Metropolis
@font-face {
  font-family: "Metrpolis-ant";
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Metrpolis-ant";
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Metrpolis-ant";
  src: url("../fonts/metropolis/Metropolis-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}
