$transition-duration: 0.3s;
$transition-timing-function: ease;

$base-font: "Varta", sans-serif;

// colors
$accent: #a06056;
$base-color: #706458;
$bg-color: #f3eee8;
$additional-color: #534b42;
$base-white: white;
