@import "_reset.scss";

// === font-face ===
@import "_fonts.scss";

// === variables ===
@import "_variables.scss";

// === mixins ===
@import "_mixins.scss";

/* Default Styles */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.body {
  color: $base-color;
  font-family: $base-font;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

a {
  text-decoration: none;
}
