@use "sass:math";

// === variables ===
@import "../_variables.scss";

// === mixins ===
@import "../_mixins.scss";
//common
.logo {
  color: $accent;
}

//headed
.header {
  background-image: url("../../img/header-bg-mobile.jpg");
  background-color: $bg-color;
  background-position: right top;
  background-size: auto;

  & > .container {
    align-items: flex-start;
  }
  &__tag {
    color: $accent;
  }

  &__title {
    max-width: 350px;

    @include font(300, 2.625rem, 2.5rem);
    color: $accent;
    text-align: left;
  }
  &__description {
    max-width: 300px;

    color: $base-color;
    text-align: left;
  }

  &__btn {
    border: 2px solid $accent;

    & > .btn__icon {
      fill: $accent;
    }
  }
}

// rooms
.rooms {
  &__swiper {
    height: 300px;
  }
  &__slide {
    &-title {
      font-size: math.div(45px, 16px) + rem;
    }
  }
}

// subscribe
.subscribe {
  & > .container {
    column-gap: 40px;
  }
}

// inspirations
.inspirations {
  &__title {
    font-size: math.div(40px, 16px) + rem;
  }

  &__list {
    display: none;
  }

  &__swiper {
    display: block;
  }
}
