//variables
@import "../_variables.scss";
//common

//header
.header {
  padding-bottom: 80px;

  & > .container {
    align-items: flex-start;
  }
  color: $accent;

  background-position: right center;
  background-size: contain;

  &__logo {
    color: $accent;
  }

  &__title {
    width: 300px;

    text-align: left;
  }

  &__tags {
    margin-top: 110px;
  }

  &__title {
    margin-top: 50px;
  }

  &__description {
    width: 245px;

    margin-top: 30px;

    color: $base-color;
    text-align: left;
  }

  &__arrow {
    // margin-top: 24px;
    border-color: $accent;
    & > .btn__icon {
      fill: $accent;
    }
  }

  
}
