@use "sass:math";

// === variables ===
@import "../_variables.scss";

// common
.container {
  max-width: 1380px;
}

.nav {
  margin-left: 64px;
}

// rooms
.rooms {
  &__swiper {
    height: 400px;
  }

  &__btn-next {
    font-size: math.div(25px, 16px) + rem;

    &::after {
      width: 15px;
      height: 20px;

      background-size: contain;

      transform: translateY(2px);
    }
  }
}
