<section class="benefits" id="section-benefits">
  <div class="container">
    <div class="benefits__wrap">
      <h2 class="section-title">
        We stay by your side to design your projects
      </h2>
      <a href="#" class="benefits__fint-out">Find out more</a>
    </div>
    <ul class="benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__item-header">Our Advices</h3>
        <p class="benefits__item-description">
          What if you took advantage of this rather special period to rethink
          your interior? You spend more time at home so you might as well feel
          good there.
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-header">Click and Collect</h3>
        <p class="benefits__item-description">
          Adapted and contactless. Free from € 200 of purchases in stores
          offering the service.
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-header">Conception Service</h3>
        <p class="benefits__item-description">
          Personalized service with an expert advisor for your interior and
          exterior decoration or layout projects.
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-header">Installation Service</h3>
        <p class="benefits__item-description">
          Our furniture packaged in flat packs are designed for easy assembly.
          But you can call on our partner.
        </p>
      </li>
    </ul>
  </div>
</section>
