<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <a href="#" class="logo">antic</a>
      <div class="footer__nav">
        <ul class="footer__list footer__list-about">
          <div class="footer__list-title">About</div>
          <li class="footer__item">
            <a href="#" class="footer__link">Our story</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Our stores</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Our patners</a>
          </li>
        </ul>
        <ul class="footer__list footer__list-services">
          <div class="footer__list-title">Services</div>
          <li class="footer__item">
            <a href="#" class="footer__link">Click and collect</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Conception</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Installation</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Advices</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Gift card</a>
          </li>
        </ul>
        <ul class="footer__list footer__list-products">
          <div class="footer__list-title">Products</div>
          <li class="footer__item">
            <a href="#" class="footer__link">Furniture</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Decoration</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Storage</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Baby and child</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Connected home</a>
          </li>
        </ul>
        <ul class="footer__list footer__list-rooms">
          <div class="footer__list-title">Rooms</div>
          <li class="footer__item">
            <a href="#" class="footer__link">Living room</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Dining room</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Cooked</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Bedroom</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Bathroom</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Office</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Laundry</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Garage</a>
          </li>
        </ul>
      </div>
      <div class="footer__respect">
        <h2 class="footer__respect-title">We respect our planet</h2>
        <img
          src="assets/img/respect/respect-img.jpg"
          alt="the room with furniture"
          class="footer__respect-img"
        />
        <p class="footer__respect-text">
          We’re taking positive steps to reduce our impact on the planet. For
          us, that means retailing responsibly. We’ve set a number of goals to
          get us there.
        </p>
        <a href="#" class="learn-more">Learn more</a>
      </div>
    </div>

    <ul class="footer__socials">
      <li class="footer__socials-item">
        <a href="#" class="footer__socials-link">
          <svg>
            <use xlink:href="assets/img/socials-sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="#" class="footer__socials-link">
          <svg>
            <use xlink:href="assets/img/socials-sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="#" class="footer__socials-link">
          <svg>
            <use xlink:href="assets/img/socials-sprite.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="#" class="footer__socials-link">
          <svg>
            <use xlink:href="assets/img/socials-sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="footer__bottom">
      <ul class="footer__settings">
        <li class="footer__settings-item">
          <a href="#" class="footer__settings-link">Privacy policy</a>
        </li>
        <li class="footer__settings-item">
          <a href="#" class="footer__settings-link">Term of service</a>
        </li>
        <li class="footer__settings-item">
          <a href="#" class="footer__settings-link">Language</a>
        </li>
      </ul>

      <a href="https://www.figma.com/@agencednd" class="footer__rights"
        >© 2021 Agence Dnd</a
      >
    </div>
  </div>
</footer>
