<header class="header">
  <div class="container">
    <div class="header__top-wrapper">
      <a href="#" class="logo header__logo">antic</a>
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <div class="nav__link">Products</div>
          </li>
          <li class="nav__item">
            <div class="nav__link">Rooms</div>
          </li>
          <li class="nav__item">
            <div class="nav__link">Services</div>
          </li>
          <li class="nav__item">
            <div class="nav__link">Inspirations</div>
          </li>
        </ul>
      </nav>
      <a href="#" class="btn header__comment">
        <svg class="btn__icon">
          <use xlink:href="assets/img/sprite-icons.svg#comment"></use>
        </svg>
      </a>
    </div>
    <div class="header__tags">HOME DESIGN</div>
    <h1 class="header__title">Elegance for Interiors & Exteriors</h1>
    <p class="header__description">
      We provide everyone with modern, trendy, quality furniture
    </p>
    <a href="#" class="btn header__arrow">
      <svg class="btn__icon">
        <use xlink:href="assets/img/sprite-icons.svg#arrow"></use>
      </svg>
    </a>
  </div>
</header>
