<header class="header">
  <div class="container">
    <div class="header__top-wrapper">
      <a href="#" class="logo">antic</a>
      <a href="#" id="burger">
        <div class="line"></div>
        <div class="line"></div>
      </a>
    </div>
    <span class="header__tag">HOME DESIGN</span>
    <h1 class="header__title">Elegance for Interiors & Exteriors</h1>
    <p class="header__description">
      We provide everyone with modern, trendy, quality furniture
    </p>
    <a href="#" class="btn header__btn">
      <svg class="btn__icon arrow-icon">
        <use xlink:href="assets/img/sprite-icons.svg#arrow"></use>
      </svg>
    </a>
  </div>
</header>

<nav id="menu" class="nav-mobile hidden">
  <a id="close-menu" href="#" class="close-btn">
  </a>
  <ul class="nav-mobile__list">
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link">Products</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link">Rooms</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link">Services</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link">Inspirations</a>
    </li>
  </ul>
</nav>
